html,
body {
   margin:0;
   padding:0;
   height:100%;
}


/*Menu Page*/
.main-content img {
  max-width:100%;
  margin: 0 auto;
  display: block;
  padding-bottom: 4em;
}

/*Fred image*/
.fredImage {
  max-width:70%;
  margin: 2em auto;
  display: block;
}


.mapInput {
  padding: 7px;
  margin: 15px 2em 15px 7em;
  background: grey;
  color: white;
}

#submitButton {
  margin-right: 35%;
  margin-left: 35%;
  padding: 1em;
  width: 140px;
  background: darkred;
  color: white;
}

.homepageText {
  margin: 1em;
  margin-top: 0;
  padding: 1em;
}

.homepage-left {
  border-right: 1px solid black;
}

#directions{
  color: darkred;
  padding-left: 5px;
  font-size: 2em;
}

.companyName {
  color: white;
  text-align: center;
  position: relative;
  top: 1.5em;
}

#hours{
  color: black;
  margin-top: 1em;
  font-family: 'Aref Ruqaa', serif;
  font-size: 2em;
  padding-left: 5px;
}

#wrap blockquote {
  font-family: 'Space Mono', monospace;
  font-size: 27px;
  font-weight: bold;
  text-align: center;
}

#cateringLogo {
  position: relative;
  top: 5em;
  right: 17em;
  text-align: center;
}

.footerList {
  color: white;
  list-style-type: none;
  font-family: 'Mirza', cursive;
  font-weight: bolder;
  font-size: 1.2em;
  text-align: right;
}

#aboutUsLogo {
  position: relative;
  top: 5em;
  right: 17em;
  text-align: center;
}

h4 {
  text-align: center;
  font-size: 15px;
  padding: 3px 0 3px 0;
}

#wrapper {
   min-height:100%;
}

#body {
   padding-bottom: 0; /* Height of the footer */
}

* {margin:0;padding:0;} 

/* must declare 0 margins on everything, also for main layout components use padding, not 
vertical margins (top and bottom) to add spacing, else those margins get added to total height 
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {
  overflow:auto;
  min-height: 100%;
  background: rgba(255, 255, 255, 0.6);
};

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

/* IMPORTANT

You also need to include this conditional style in the <head> of your HTML file to feed this style to IE 6 and lower and 8 and higher.

<!--[if !IE 7]>
  <style type="text/css">
    #wrap {display:table;height:100%}
  </style>
<![endif]-->

*/

/************************/

.mainReviewDiv {
  height: 150%;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  overflow: auto;
}

#fbLogo {
  float: left; 
  width: 70px;
  height: 70px;
  padding: 5px;
}

#fbLogo:hover {
  height: 85px;
  width: 85px;
}

.fbText {
  color: white;
  font-family: 'Mirza', cursive;
  font-weight: bold;
  font-size: 1.3em;
  position: relative;
  top: 1.6em;
}

.fbText:hover {
  color: blue;
  font-size: 20px;
}

/*CONTACT PAGE*/
.contact-info {
  color: black;
  padding-left: 2em;
  text-align: center;
}

#wrap {
  color: black;
  font-size: 12px;
  font-family: 'Aref Ruqaa', serif;
  padding: 25px;
  background-image: url("../images/wood.jpg");
}

.number {
  color: brown;
  font-family: 'Space Mono', monospace;
  font-size: 24px;
}

.clickToCall {
  color: darkred;
  font-size: 1.5em;
  font-weight: bolder;
}

#phone {
  font-size: 1.7em;
  font-weight: bolder;
  font-family: 'Mirza', cursive;
  padding-left: 5px;
}

#logoHome{
  position: relative;
  margin: 0 auto;
  display: block;
  max-width: 90%;

}

/*Navbar*/
.navbar {
  margin-bottom: 0!important;
  font-family: !important 'Aref Ruqaa', cursive;
  font-size: 15px;
}

@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: #eee;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}

/*Media Queries for Logo*/

img.center {
  display: block;
  margin: 2em auto 0 auto;
}

.sidebar1 {
    background: #F17153;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#F17153, #F58D63, #f1ab53);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F17153, #F58D63, #f1ab53);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F17153, #F58D63, #f1ab53);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F17153, #F58D63, #f1ab53);
    /* Standard syntax */
    padding: 0px;
    min-height: 100%;
}

.logo {
    max-height: 130px;
}

.list {
    color: #fff;
    list-style: none;
    padding-left: 0px;
}
.list::first-line {
    color: rgba(255, 255, 255, 0.5);
}
.list> li, h5 {
    padding: 5px 0px 5px 40px;
}
.list>li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-left: 5px solid white;
    color: white;
    font-weight: bolder;
    padding-left: 35px;
}.main-content{
text-align:center;
}

#bq2 {
  text-align: center;
}
/*media queries*/

@media screen and (max-width: 1030px) {
  .number {
    display: inline-block;
    color: black;
  }

  .fade-carousel {
    display: none;
  }

  .contact-info {
    text-align: center;
  }
}

.feedBackPics {
  padding: 1em;
  border-radius: 50px;
  height: 80px;
  width: 80px;
}

.reviews {
  padding: 10px;
  font-size: 15px;
  font-family: 'Reem Kufi', sans-serif;
  margin-bottom:5px;
}




/*Footer*/
.footer-distributed{
  background-color: #222;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 30px 30px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

.footer-left p {
  color: #darkred;
}

.footer-left h5{
  color: #fff;
  font-family: 'Cookie', cursive;
  padding-left: 0;
  font-size: 1em;
}

/* The company logo */

.footer-distributed h3{
  color: darkred;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #3b5998;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
  padding-top: .4em;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }
}
